Repository opal/opal, pull requests merged in 2019-12, with the labels that each got.

#2034 Bump parser to 2.6 for rubocop-support
  Gemfile
  UNRELEASED.md
  opal.gemspec
Labels: dependencies

#2035 Fix nested for-loops
  lib/opal/rewriters/for_rewriter.rb
  spec/lib/rewriters/for_rewriter_spec.rb
Labels: bug

#2030 Fix Number#round for Integers
  opal/corelib/number.rb
Labels: bug, corelib

#2036 Chrome runner fixes
  lib/opal/cli_runners/chrome.js
  lib/opal/cli_runners/chrome.rb
Labels: chrome

#2038 Reduce size of compiled code skipping unused helpers
  UNRELEASED.md
  lib/opal/compiler.rb
  lib/opal/magic_comments.rb
  lib/opal/nodes/logic.rb
  lib/opal/nodes/masgn.rb
  lib/opal/nodes/top.rb
  opal/corelib/enumerator.rb
  opal/corelib/proc.rb
  opal/corelib/runtime.js
  opal/corelib/time.rb
  spec/lib/compiler_spec.rb
  spec/lib/source_map/file_spec.rb
Labels: compiled-size, compiler, runtime

#2044 Fix PathReader when a file is missing
  lib/opal/builder.rb
  lib/opal/path_reader.rb
Labels: builder

#2046 Make CI builds faster
  .overcommit.yml
  .travis.yml
  appveyor.yml
  bin/git-submodule-fast-install
  bin/setup
  opal.gemspec
Labels: specs

#2045 Use source-maps for Node.js stack-traces
  .codeclimate.yml
  .rubocop.yml
  .travis.yml
  HACKING.md
  README.md
  UNRELEASED.md
  appveyor.yml
  bin/setup
  lib/opal/cli_runners/nodejs.rb
  lib/opal/cli_runners/source-map-support.js
  package-lock.json
  package.json
  spec/mspec-opal/formatters.rb
  stdlib/nodejs/stacktrace.rb
  test/nodejs/test_error.rb
Labels: nodejs, source-maps

#2048 Move REPL implementation from bin/ to its own lib/ file + specs
  .rubocop.yml
  exe/opal-repl
  lib/opal/repl.rb
  opal/corelib/kernel.rb
  spec/lib/repl_spec.rb
Labels: repl
