Repository opal/opal, pull requests merged in 2020-01, with the labels that each got.

#2054 Make the tin can a ton.
  opal/corelib/runtime.js
Labels: runtime

#2052 Remove unused variables from runtime.js
  opal/corelib/runtime.js
Labels: runtime

#2062 Fix Regexp interpolation
  lib/opal/nodes/literal.rb
  opal/corelib/regexp.rb
  opal/corelib/runtime.js
  spec/filters/bugs/regexp.rb
  spec/opal/core/regexp/interpolation_spec.rb
Labels: bug, compiler, runtime

#2061 resolves #2060 set match on skip and scan_until
  CHANGELOG.md
  spec/filters/bugs/stringscanner.rb
  stdlib/strscan.rb
Labels: bug, stdlib

#2070 Travis updates
  .travis.yml
Labels: jruby

#2050 SecureRandom#hex(n)
  spec/ruby_specs
  stdlib/securerandom.rb
Labels: stdlib

#2065 Add a generic implementation of Kernel#caller and #warn(uplevel:)
  bin/setup
  lib/opal/cli_runners/chrome.js
  lib/opal/cli_runners/chrome.rb
  lib/opal/cli_runners/source-map-support-browser.js
  lib/opal/cli_runners/source-map-support.js
  opal/corelib/kernel.rb
  spec/filters/bugs/kernel.rb
  spec/opal/stdlib/logger/logger_spec.rb
  spec/ruby_specs
  stdlib/nodejs/kernel.rb
  test/nodejs/test_error.rb
Labels: corelib, feature, nodejs, source-maps, usability

#2069 Fix Array keep_if, delete_if, reject!, select!
  UNRELEASED.md
  opal/corelib/array.rb
  spec/filters/bugs/array.rb
Labels: bug, corelib
